# The public URL of the API for client-side fetches (optional if hosted together, defaults to /v1/api)
NEXT_PUBLIC_API_URL=http://localhost:8080

# The internal URL of the API for server-side proxying
LENNY_INTERNAL_API_URL=http://localhost:8080/v1/api

# The internal secret used to authenticate the admin UI against the Lenny backend
ADMIN_INTERNAL_SECRET=wgFdPqh4RwIkG1EJ55JyKDLN1XvidDLg
